@import "./common.less";
.body-container {
  max-width: 1240px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  .responsive-desktop({    
    padding: 0 95px;
  });
  .responsive-mobile({
    padding: 0 8px;
  });

  /* Start header.home */
  header {
    border-bottom: 1px @gray solid;
    padding: 45px 0 27px 0;
    .responsive-mobile({
      padding: 7px 0 0 0;
      margin-bottom: 9px;
    }); 

    .btn-mobile-top-nav {
      display: none;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-image: url("../images/icons/menu.png");
      background-size: cover;
      cursor: pointer;
      .responsive-mobile({
        display: block;
      });

      &.active {
        background-image: url("../images/icons/menu-close.png");
      }
    }
    .company-name {
      color: @black;
      width: 100%;
      text-align: center;
      font-size: 68px;
      line-height: 68px;
      margin: 12px 0;
      font-family: "didot";
      .responsive-mobile({
        margin: 3px 0 7px 0;
      });
    }
    .company-description {
      color: @black;
      width: 100%;
      text-align: center;
      line-height: 22px;
      font-size: 16px;
      font-weight: bold;
      font-family: "baskerville";
      .responsive-mobile({
        margin-bottom: 22px;
      });
    }
    .company-meaning {
      color: @black;
      width: 100%;
      text-align: center;
      line-height: 10px;
      font-family: "baskerville";
      font-style: italic;
      font-size: 15px;
      .responsive-mobile({
        display: none;
      });
    }
  }
  /* End header.home */

  /* Start .top-nav */
  .top-nav {
    ul{
      width: 401px;
      position: relative;
      text-align: center;        
      margin-left: auto;
      margin-right: auto;
      height: 85px;
      padding: 0;
      margin-bottom: 20px;
      li {
        float: left;
        list-style-type: none;
        text-align: center;
        padding: 10px 30px;
        .responsive-mobile({
          width: 100%;
          padding: 0;
        });

        a {
          color: @black;
          font-family: "Baskerville";
          text-decoration: none;
          line-height: 58px;
          font-size: 16px;
          padding-bottom: 3px;
          .responsive-mobile({
            line-height: 53px;
          });

          &:hover {
            border-bottom: 2px @black solid;
          }
        }
        &.active a {
          border-bottom: 2px @black solid;
        }
      }
      .responsive-mobile({
        width: 100%;
      });
    }
    .responsive-mobile({
      width: 100%;
      display: none;
      border-bottom: 1px @gray solid;
      padding-bottom: 8px;

      &.in {
        display: inline-block;
      }
    });
  }
  /* End .top-nav */
  
  /* Start section */
  section {
    color: @black;
    margin-bottom: 130px;
    min-height: 600px;
    .responsive-mobile({
      margin-bottom: 39px;
    });
    &:last-of-type{
      margin-bottom: 30px;
    }
    .section-title {
      position: relative;
      font-family: "baskerville";
      height: 47px;
      font-size: 50px;
      line-height: 47px;
      margin: 25px 0;
      vertical-align: middle;
      .title-line {
        width: 90px;
        height: 3px;
        background: @gold;
        margin-right: 10px;
        margin-top: 22px;
        float: left;
        .responsive-mobile({
          position: absolute;
          bottom: 0;
          width: 50px;
          left: 50%;
          margin-left: -25px;
        });
      }
      .responsive-mobile({
        border-left: none;
        width: 100%;
        line-height: 52px;
        height: auto;
        text-align: center;
        padding-bottom: 25px;
        margin-bottom: 0;
      });
    }
    img {
      .responsive-mobile({
        width: 100%;
        height: auto;
      });
    }
    .section-content {
      position: relative;
      margin-top: 37px;
      .responsive-mobile({
        margin-top: 22px;
      });
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: auto;
        margin-left: 7%;
        &.front-img {
          z-index: 3;
        }
        &.back-img {
          z-index: 1;
        }
      }
      .section-content-text {
        position: absolute;
        z-index: 2;
        border: @gold 3px solid;
        margin-left: 30%;
        margin-top: 82px;
        padding: 3.5% 2.5% 0 17%;
        left: 0;
        top: 0;
        .responsive-mobile({
          width: 100%;
          position: relative;
          border: none;
          margin: 0;
          padding: 0;
        });
        .list-title {
          font-family: "baskerville";
          font-style: italic;
          font-size: 24px;
          font-weight: 500;
          line-height: 1.1;
          .responsive-mobile({
            text-align: center;
            width: 100%;
            display: block;
            font-size: 20px;
            line-height: 28px;
            padding: 0 12px;
          });
          .gold {
            color: @gold;
            font-family: "didot";
            font-style: normal;
          }
        }
        ul.list {
          padding: 20px 0;
          font-family: "baskerville";
          margin: 0;
          .responsive-mobile({
            padding: 14px 0 0 0;
          });
          li {
            width: 100%;
            position: relative;
            font-size: 24px;
            list-style-type: none;
            display: table;
            margin-bottom: 7px;
            .responsive-mobile({
              font-size: 17px;
              margin-bottom: 21px;
              text-align: center;
            });
            .number {
              color: @gold;
              font-size: 34px;
              font-weight: 300;
              display: table-cell;
              width: 8%;
              min-width: 46px;
              .responsive-mobile({
                color: inherit;
                font-size: inherit;
                font-weight: inherit;
                display: inline;
                width: auto;
                min-width: inherit;
                margin-right: 6px;
                vertical-align: middle;
              });
              &:after{
                content:"|";
                font-size: 46px;
                font-family: "didot";
                font-style: italic;
                margin-left: 3px;
                .responsive-mobile({
                  content: ". ";
                  font-size: inherit;
                  font-family: inherit;
                  font-style: italic;
                  margin-left: 0;
                });
              }
            }
            .item {
              width: 81%;
              height: 100%;
              line-height: 26px;
              letter-spacing: 0.035em;
              display: table-cell;
              vertical-align: middle;
              padding-top: 9px;
              .responsive-mobile({
                text-align: left;
                display: inline;
                padding: 0;
              });
            }
          }
        }
        button{
          letter-spacing: 0.05em;
          position: absolute;
          bottom: -78px;
          line-height: 53px;
          font-size: 21px;
          font-family: "baskerville";
          right: 0;
          color: #fff;
          border: none;
          height: 55px;
          width: 220px;
          background: @black;
          .responsive-mobile({
            font-size: 19px;
            position: relative;
            display: block;
            margin: 0 auto;
            bottom: 0;
          });

          &:after {
            content: url(../images/icons/double-arrow-right.png);
            margin-left: 6px;
          }
        }
      }
    }
  }
  /* End section */

  /* Start section.select-my-role */
  section.select-my-role {
    position: relative;
    width: 100%;
    font-family: "baskerville";
    min-height: 319px;
    margin-bottom: 13%;

    .img-kol-or-advertiser-kol {
      shape-margin: 20px;
      shape-image-threshold: 0.5;/* this property is used to set the threshold used for extracting a shape from an image. 0.0 = fully transparent and 1.0 = fully opaque */
      shape-outside: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
      background: black;
    }

    img {
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;
    }

    .both-pic {
      .responsive-mobile({        
        display: none;
        padding: 0;
      });
    }

    .single-pic {
      display: none;
      .responsive-mobile({
        position: relative;
        display: block;
        padding: 5px 0 11px 0;
      });
    }

    .kol-section {
      position: absolute;
      bottom: 0;
      left: 0;
      .responsive-mobile({        
        position: relative;
      });
    }

    .advertiser-section {
      margin-right: 3px;
      position: absolute;
      right: 0;
      top: 0;
      .responsive-mobile({        
        position: relative;
      });

      hr {
        float: right; 
        .responsive-mobile({
          float: none;
        });   
      }
    }

    .description {
      position: relative;
      padding-top: 25px;
      padding-bottom: 112px;
      .responsive-mobile({
        padding: 0 0 15px 0;
      });

      .iam {
        color: @black;
        text-align: left;
        font-size: 26px;
        padding-bottom: 11px;
        .responsive-mobile({
          text-align: center;
        });

        .iam-big {
          color: @black;
          font-size: 58px;
          line-height: 58px;
        }
      }
      hr {
        width: 90px;
        border-color: @gold;
        border-width: 2px;
        padding: 0;
        margin: 0; 
        .responsive-mobile({
          margin: 0 auto;          
        });
      }
      .tip {
        color: @black;
        overflow: visible; 
        .responsive-mobile({
          margin-left: auto;
          margin-right: auto;
        });

        em {
          word-spacing: 0.05em;
          width: 147px;
          display: block;
          padding: 12px 0 4px 1px ;
          line-height: 18px;  

          .responsive-mobile({
            width: 100%;
            text-align: center;
            padding-top: 18px;
            padding-bottom: 9px;
          });
        }
      }
      .link{
        .responsive-mobile({
          text-align: center;
        });

        a {
          color: @black;
          padding-bottom: 1px;
          border-bottom: 1px solid @black;
          text-decoration: none; 
        }
      }
      &.advertiser-description {   
        text-align: right;      
        .responsive-mobile({
          text-align: center;
        });  

        .iam {
          margin-left: -95px;
          .responsive-mobile({
            margin-left: 0;
          });
        }

        .tip em {
          float: right;   
          .responsive-mobile({
            float: none;
          });
        }
      }
    }
  }
  /* End section.select-my-role */
  
  /* Start section.advertisers */
  section.advertisers {
    .section-content {
      img {
        position: absolute;
        top: -14%;
        left: auto;
        right: 6px;
        width: 43.5%;
        height: auto;
        margin-left: 9.5%;

        &.front-img {
          z-index: 3;
        }

        &.back-img {
          z-index: 1;
        }
      }

      .section-content-text {
        margin: 0;
        width: 71%;
        padding: 4% 16% 0 5%;
        .responsive-mobile({
          margin: inherit;
          width: inherit;
          padding: inherit;
        });
      }

      button.advertise-now {
        right: auto;
        left: 0;
      }
    }
  }
  /* End section.advertisers */

}
